camelot-py==0.11.0
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==43.0.0
et-xmlfile==1.1.0
numpy==2.0.1
opencv-python==4.10.0.84
openpyxl==3.1.5
pandas==2.2.2
pdfminer.six==20240706
pycparser==2.22
pypdf==4.3.1
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tabulate==0.9.0
tzdata==2024.1
